# Unity 用 .gitignore テンプレート
# 出典: https://github.com/github/gitignore/blob/main/Unity.gitignore
# 最終同期日: 2025-12-18
# ライセンス: CC0-1.0
#
# このテンプレートは github/gitignore リポジトリを基に保守され、
# Creative Commons Zero v1.0 Universal ライセンスの下で配布されています。

# この .gitignore ファイルは Unity プロジェクトディレクトリのルートに配置してください
#
# 最新版の取得先: https://github.com/github/gitignore/blob/main/Unity.gitignore
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# Unity は既定で Blender アセットのインポートに対応しているため、*.blend1 ファイルをバージョン管理へ登録する必要はありません。
*.blend1
*.blend1.meta

# MemoryCaptures は非常に大きくなる場合があります。
# また、極めて機密性の高いデータが含まれる可能性があります
/[Mm]emoryCaptures/

# Recordings は非常に大きくなる場合があります
/[Rr]ecordings/

# Asset Store Tools プラグインを無視する場合は、次の行のコメントを解除してください
# /[Aa]ssets/AssetStoreTools*

# 自動生成される JetBrains Rider プラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*
# JetBrains Rider の個人レイヤー設定
*.DotSettings.user

# Visual Studio のキャッシュディレクトリ
.vs/

# Gradle のキャッシュディレクトリ
.gradle/

# 自動生成される VS／MD／Consulo のソリューションファイルとプロジェクトファイル
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D が生成するメタファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D がクラッシュレポート時に生成するファイル
sysinfo.txt

# Mono が自動生成するファイル
mono_crash.*

# ビルド成果物
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics が生成するファイル
crashlytics-build.properties

# TestRunner が生成するファイル
InitTestScene*.unity*

# ユーザーによるカスタマイズ前の Addressables 既定除外設定
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
# 既定では、Addressables のコンテンツビルドによって addressables_content_state.bin が生成されます
# ファイルは、たとえば次のようなプラットフォーム別サブフォルダーに配置されます:
# /Assets/AddressableAssetsData/OSX/addressables_content_state.bin
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting が自動生成するファイル
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Play Mode テストが自動生成するシーン
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
